

.App{
  text-align: center;
}

h2{
  font-size: 40px;
  color: rgb(15, 15, 26);
  font-family: cursive;
  letter-spacing: 5px;
  text-shadow: 4px 2px rgb(43, 43, 43);
}

h5{
  font-size: 20px;
  color: #005780;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

p{
  font-size: 20px;
  text-shadow: 1px 1px rgb(58, 45, 73);
}



.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(155, 0, 160);
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgb(209, 0, 0);
}

.btn span {
  position: relative; 
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
  letter-spacing: 3px;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #0095da;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
